Repository vijaysingh2219/build-elevate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx,md,json}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --fix"]
}

feat: prompt for package manager and adapt project structure
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/initialize.ts
  scripts/readme.ts
  scripts/utils.ts
Due: prettier --write, eslint --fix

chore: update eslint-config for nextjs
  apps/web/eslint.config.js
  packages/eslint-config/next.js
Due: none

feat: add script for turbo env, remove auth/client.ts
  scripts/initialize.ts
  scripts/update.ts
  scripts/utils.ts
Due: prettier --write, eslint --fix

refactor: update project initialization and CLI options
  scripts/index.ts
  scripts/initialize.ts
  scripts/utils.ts
Due: prettier --write, eslint --fix

chore: bump version 1.0.4 → 1.0.5
  package.json
Due: prettier --write

feat: add docs app powered by Fumadocs
  .prettierignore
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/app/(home)/layout.tsx
  apps/docs/app/(home)/page.tsx
  apps/docs/app/api/search/route.ts
  apps/docs/app/docs/[[...slug]]/page.tsx
  apps/docs/app/docs/layout.tsx
  apps/docs/app/global.css
  apps/docs/app/layout.tsx
  apps/docs/app/llms-full.txt/route.ts
  apps/docs/app/llms.mdx/docs/[[...slug]]/route.ts
  apps/docs/app/og/docs/[...slug]/route.tsx
  apps/docs/components/ai/page-actions.tsx
  apps/docs/content/docs/index.mdx
  apps/docs/eslint.config.mjs
  apps/docs/lib/cn.ts
  apps/docs/lib/layout.shared.tsx
  apps/docs/lib/source.ts
  apps/docs/mdx-components.tsx
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/postcss.config.mjs
  apps/docs/source.config.ts
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs: add structured documentation content
  apps/docs/app/(home)/layout.tsx
  apps/docs/app/(home)/page.tsx
  apps/docs/content/docs/applications/api.mdx
  apps/docs/content/docs/applications/email.mdx
  apps/docs/content/docs/applications/index.mdx
  apps/docs/content/docs/applications/meta.json
  apps/docs/content/docs/applications/studio.mdx
  apps/docs/content/docs/applications/web.mdx
  apps/docs/content/docs/configuration/docker.mdx
  apps/docs/content/docs/configuration/environment-variables.mdx
  apps/docs/content/docs/configuration/formatting.mdx
  apps/docs/content/docs/configuration/index.mdx
  apps/docs/content/docs/configuration/meta.json
  apps/docs/content/docs/deployment/index.mdx
  apps/docs/content/docs/deployment/vercel.mdx
  apps/docs/content/docs/getting-started/first-steps.mdx
  apps/docs/content/docs/getting-started/installation.mdx
  apps/docs/content/docs/getting-started/meta.json
  apps/docs/content/docs/getting-started/structure.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/meta.json
  apps/docs/content/docs/packages/auth.mdx
  apps/docs/content/docs/packages/db.mdx
  apps/docs/content/docs/packages/email.mdx
  apps/docs/content/docs/packages/index.mdx
  apps/docs/content/docs/packages/rate-limit.mdx
  apps/docs/content/docs/packages/ui.mdx
  apps/docs/content/docs/packages/utils.mdx
  apps/docs/content/docs/troubleshooting.mdx
  apps/docs/lib/layout.shared.tsx
  apps/docs/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: detect package managers and edit options
  package.json
  scripts/initialize.ts
Due: prettier --write, eslint --fix

fix: format check on scaffolding
  scripts/readme.ts
Due: prettier --write, eslint --fix

fix: load package env vars in development
  apps/api/src/index.ts
  packages/auth/.env.example
  packages/auth/package.json
  packages/auth/src/index.ts
  packages/auth/src/keys.ts
  packages/rate-limit/package.json
  packages/rate-limit/src/index.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, eslint --fix

fix: lint error on scaffolded app
  .prettierignore
  scripts/utils.ts
Due: prettier --write, eslint --fix

chore: bump version 1.0.6 → 1.0.7
  package.json
Due: prettier --write

chore: accept whitespace format of app name
  package.json
  scripts/initialize.ts
  scripts/readme.ts
  scripts/utils.ts
Due: prettier --write, eslint --fix

fix: resolve pg and prettier package resolution errors
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(api): move dotenv setup to env module
  apps/api/src/env.ts
  apps/api/src/index.ts
Due: prettier --write, eslint --fix

feat(web): add metadataBase to site config
  apps/web/config/site.ts
Due: prettier --write, eslint --fix

fix(scripts): share single auth secret across all env files
  scripts/initialize.ts
  scripts/utils.ts
Due: prettier --write, eslint --fix

feat(ui): update shadcn components to unified radix-ui and upgrade zod to v4
  apps/web/components/auth/auth-form.tsx
  packages/ui/package.json
  packages/ui/src/components/alert.tsx
  packages/ui/src/components/avatar.tsx
  packages/ui/src/components/badge.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/card.tsx
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/input-otp.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/label.tsx
  packages/ui/src/components/separator.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/tooltip.tsx
  packages/ui/src/hooks/use-mobile.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

fix(docs): set dev server port to 3001
  apps/docs/package.json
Due: prettier --write

ci: add missing env vars to build job
  .github/workflows/ci.yml
Due: none

feat: add reusable form fields
  apps/web/app/(auth)/forgot-password/page.tsx
  apps/web/app/(auth)/reset-password/page.tsx
  apps/web/app/(default)/(settings)/settings/general/page.tsx
  apps/web/components/auth/credentials-form.tsx
  apps/web/components/form/confirm.tsx
  apps/web/components/form/email.tsx
  apps/web/components/form/index.tsx
  apps/web/components/form/name.tsx
  apps/web/components/form/password.tsx
  apps/web/components/security/delete-account-form.tsx
  apps/web/components/security/password-form.tsx
  packages/ui/src/components/field.tsx
  packages/ui/src/components/input-group.tsx
  packages/ui/src/components/textarea.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor(auth): split CredentialsForm into SignInForm and SignUpForm
  apps/web/components/auth/auth-form.tsx
  apps/web/components/auth/credentials-form.tsx
  apps/web/components/auth/index.ts
  apps/web/components/auth/sign-in-form.tsx
  apps/web/components/auth/sign-up-form.tsx
  apps/web/hooks/auth/use-sign-in.ts
  apps/web/hooks/auth/use-sign-up.ts
Due: prettier --write, eslint --fix

chore: bump version 1.0.9 → 1.1.0
  apps/web/components/auth/auth-form.tsx
  apps/web/config/site.ts
  package.json
  packages/ui/package.json
Due: prettier --write, eslint --fix

feat: add changelog page into the docs app
  apps/docs/app/(home)/changelog/page.tsx
  apps/docs/app/(home)/layout.tsx
  apps/docs/lib/changelog-data.ts
Due: prettier --write, eslint --fix

chore: update site branding and refine metadata
  apps/web/.env.example
  apps/web/config/metadata.ts
  apps/web/config/site.ts
Due: prettier --write, eslint --fix

chore(deps): update package versions in pnpm-workspace.yaml
  .github/workflows/ci.yml
  apps/docs/app/og/docs/[...slug]/route.tsx
  apps/docs/postcss.config.mjs
  apps/web/app/(auth)/forgot-password/page.tsx
  apps/web/app/(auth)/reset-password/page.tsx
  apps/web/app/(default)/(settings)/settings/general/page.tsx
  apps/web/app/(default)/profile/page.tsx
  apps/web/components/auth/two-factor-setup.tsx
  apps/web/components/auth/two-factor-verification.tsx
  apps/web/components/security/delete-account-form.tsx
  apps/web/components/security/extra-security.tsx
  apps/web/components/security/password-form.tsx
  apps/web/components/ui/theme-switcher.tsx
  apps/web/hooks/useIsMounted.tsx
  apps/web/hooks/useMounted.ts
  package.json
  packages/auth/src/server.ts
  packages/email/src/components/EmailHeader.tsx
  packages/email/src/components/EmailHeading.tsx
  packages/email/src/components/EmailLink.tsx
  packages/eslint-config/base.js
  packages/eslint-config/react-internal.js
  packages/ui/src/components/avatar.tsx
  packages/ui/src/components/card.tsx
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/field.tsx
  packages/ui/src/components/input-group.tsx
  packages/ui/src/components/input-otp.tsx
  packages/ui/src/components/input.tsx
  packages/ui/src/components/label.tsx
  packages/ui/src/components/separator.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/textarea.tsx
  packages/ui/src/components/tooltip.tsx
  packages/ui/src/styles/globals.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

chore: add example DATABASE_URL to api .env file
  apps/api/.env.example
  packages/db/.env.example
Due: none

feat: add session keep-alive with visibility detection
  apps/web/app/api/session/ping/route.ts
  apps/web/hooks/use-auth-user.ts
  apps/web/proxy.ts
Due: prettier --write, eslint --fix

refactor: reorganize app routes structure
  apps/web/app/(app)/dashboard/layout.tsx
  apps/web/app/(app)/dashboard/loading.tsx
  apps/web/app/(app)/dashboard/page.tsx
  apps/web/app/(app)/profile/layout.tsx
  apps/web/app/(app)/profile/loading.tsx
  apps/web/app/(app)/profile/page.tsx
  apps/web/app/(app)/settings/activity/layout.tsx
  apps/web/app/(app)/settings/activity/page.tsx
  apps/web/app/(app)/settings/general/layout.tsx
  apps/web/app/(app)/settings/general/page.tsx
  apps/web/app/(app)/settings/security/layout.tsx
  apps/web/app/(app)/settings/security/page.tsx
  apps/web/app/(home)/page.tsx
  apps/web/components/security/password-form.tsx
Due: prettier --write, eslint --fix

fix(api): enforce strict CORS origin checks and sanitize prod errors
  apps/api/.env.example
  apps/api/src/__tests__/unit/server.test.ts
  apps/api/src/config/allowedOrigins.ts
  apps/api/src/config/corsOptions.ts
  apps/api/src/middleware/error.ts
  turbo.json
Due: prettier --write, eslint --fix

fix: strengthen error handling
  apps/web/components/layout/header.tsx
  apps/web/components/security/password-form.tsx
  apps/web/hooks/use-auth-user.ts
  packages/email/src/send-email.ts
Due: prettier --write, eslint --fix

chore: bump version of react-email package
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: add turbo.json to Prettier
  .prettierignore
  turbo.json
Due: prettier --write

feat: add upgrade command with template diffing
  apps/docs/lib/changelog-data.ts
  package.json
  scripts/diff.ts
  scripts/index.ts
  scripts/initialize.ts
  scripts/manifest.ts
  scripts/update.ts
  scripts/upgrade.ts
  scripts/utils.ts
Due: prettier --write, eslint --fix

chore: migrate API dev script from nodemon to tsx
  apps/api/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: add lint:fix script + turbo task
  apps/api/package.json
  apps/docs/package.json
  package.json
  packages/auth/package.json
  packages/email/package.json
  packages/rate-limit/package.json
  packages/ui/package.json
  packages/utils/package.json
  turbo.json
Due: prettier --write

chore: keep empty controllers and services directories
  apps/api/src/controllers/.gitkeep
  apps/api/src/services/.gitkeep
Due: none

docs: improve env example placeholder text
  apps/api/.env.example
  apps/web/.env.example
  packages/auth/.env.example
Due: none

feat: send welcome email afterEmailVerification
  packages/auth/src/server.ts
  packages/email/src/components/EmailHeading.tsx
  packages/email/src/constants.ts
  packages/email/src/templates/index.ts
  packages/email/src/templates/welcome.tsx
  packages/email/src/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

feat(rate-limit): add auth/email limiters and update auth hooks integration
  apps/web/hooks/auth/use-sign-in.ts
  apps/web/hooks/auth/use-verification.ts
  apps/web/tsconfig.json
  packages/auth/src/server.ts
  packages/rate-limit/package.json
  packages/rate-limit/src/auth.ts
  packages/rate-limit/src/client.ts
  packages/rate-limit/src/create.ts
  packages/rate-limit/src/index.ts
  packages/rate-limit/src/limiters/auth.ts
  packages/rate-limit/src/limiters/email.ts
  packages/rate-limit/src/limiters/index.ts
Due: prettier --write, eslint --fix
