Repository vijaysingh2219/build-elevate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx,md,json}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --fix"]
}

refactor(email): simplify template API and consolidate auth email patterns
  packages/auth/src/server.ts
  packages/email/src/constants.ts
  packages/email/src/create-template.ts
  packages/email/src/get-template.ts
  packages/email/src/index.ts
  packages/email/src/send-auth-email.ts
  packages/email/src/templates/custom-template.tsx
  packages/email/src/types.ts
Due: prettier --write, eslint --fix

chore: update exports and consolidate auth/rate-limit integration
  .gitignore
  apps/api/src/middleware/auth.ts
  apps/api/src/types/express.d.ts
  apps/api/tsconfig.json
  apps/web/app/api/auth/[...all]/route.ts
  apps/web/app/api/auth/password/route.ts
  apps/web/lib/auth-helpers.ts
  apps/web/next-env.d.ts
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/proxy.ts
  package.json
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/index.ts
  packages/auth/tsconfig.json
  packages/db/package.json
  packages/email/package.json
  packages/rate-limit/package.json
  packages/rate-limit/src/index.ts
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs: comprehensive documentation update with config packages and enhanced navigation
  apps/api/src/__tests__/unit/users.routes.test.ts
  apps/docs/content/docs/applications/api.mdx
  apps/docs/content/docs/applications/email.mdx
  apps/docs/content/docs/applications/index.mdx
  apps/docs/content/docs/applications/meta.json
  apps/docs/content/docs/applications/studio.mdx
  apps/docs/content/docs/applications/web.mdx
  apps/docs/content/docs/cli.mdx
  apps/docs/content/docs/configuration/docker.mdx
  apps/docs/content/docs/configuration/environment-variables.mdx
  apps/docs/content/docs/configuration/formatting.mdx
  apps/docs/content/docs/configuration/index.mdx
  apps/docs/content/docs/configuration/meta.json
  apps/docs/content/docs/deployment/index.mdx
  apps/docs/content/docs/deployment/meta.json
  apps/docs/content/docs/deployment/vercel.mdx
  apps/docs/content/docs/getting-started/first-steps.mdx
  apps/docs/content/docs/getting-started/meta.json
  apps/docs/content/docs/getting-started/structure.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/meta.json
  apps/docs/content/docs/packages/auth.mdx
  apps/docs/content/docs/packages/db.mdx
  apps/docs/content/docs/packages/email.mdx
  apps/docs/content/docs/packages/eslint-config.mdx
  apps/docs/content/docs/packages/index.mdx
  apps/docs/content/docs/packages/jest-presets.mdx
  apps/docs/content/docs/packages/meta.json
  apps/docs/content/docs/packages/prettier-config.mdx
  apps/docs/content/docs/packages/rate-limit.mdx
  apps/docs/content/docs/packages/typescript-config.mdx
  apps/docs/content/docs/packages/ui.mdx
  apps/docs/content/docs/packages/utils.mdx
  apps/docs/content/docs/troubleshooting.mdx
Due: prettier --write, eslint --fix

feat: add development docker setup and documentation
  apps/docs/content/docs/configuration/docker.mdx
  docker-compose.yml
Due: none

docs: comprehensive README overhaul with navigation and features
  README.md
Due: prettier --write

refactor(cli): extract and compose template transformations
  package.json
  scripts/initialize.ts
  scripts/readme.ts
  scripts/update.ts
  scripts/upgrade.ts
Due: prettier --write, eslint --fix

docs: add npm package link and v1.2.1 release changelog
  apps/docs/app/(home)/layout.tsx
  apps/docs/lib/changelog-data.ts
  apps/docs/lib/layout.shared.tsx
  apps/docs/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(testing): add shared Vitest presets, web test suite, and docs updates
  apps/docs/content/docs/applications/web.mdx
  apps/docs/content/docs/configuration/index.mdx
  apps/docs/content/docs/getting-started/structure.mdx
  apps/docs/content/docs/packages/index.mdx
  apps/docs/content/docs/packages/jest-presets.mdx
  apps/docs/content/docs/packages/meta.json
  apps/docs/content/docs/packages/vitest-presets.mdx
  apps/web/components/auth/auth-form.test.tsx
  apps/web/components/auth/forms.test.tsx
  apps/web/components/form/fields.test.tsx
  apps/web/components/layout/components.test.tsx
  apps/web/components/security/forms.test.tsx
  apps/web/hooks/useAuthUser.test.tsx
  apps/web/hooks/useCopyToClipboard.test.ts
  apps/web/hooks/useHasPassword.test.tsx
  apps/web/hooks/useIsMounted.test.tsx
  apps/web/package.json
  apps/web/proxy.test.ts
  apps/web/setup.test.ts
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  packages/vitest-presets/README.md
  packages/vitest-presets/eslint.config.js
  packages/vitest-presets/node/vitest.config.mjs
  packages/vitest-presets/node/vitest.config.ts
  packages/vitest-presets/package.json
  packages/vitest-presets/web/vitest.config.mjs
  packages/vitest-presets/web/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

refactor(web): centralize site metadata config
  apps/web/config/metadata.ts
  apps/web/config/site-shared.ts
  apps/web/config/site.ts
  scripts/utils.ts
Due: prettier --write, eslint --fix

fix(cli): correct manifest skip path
  apps/docs/lib/changelog-data.ts
  package.json
  scripts/manifest.ts
Due: prettier --write, eslint --fix

chore(hooks): move typecheck/tests from pre-commit to pre-push
  .husky/pre-commit
  .husky/pre-push
Due: none

chore(scripts): include docker-compose.yml in project-name replacement files
  scripts/utils.ts
Due: prettier --write, eslint --fix

chore(release): bump version to 1.2.3
  package.json
Due: prettier --write

feat: add reusable empty states and refresh the web shell
  apps/web/app/(app)/profile/page.tsx
  apps/web/app/(app)/settings/activity/page.tsx
  apps/web/app/(auth)/forgot-password/page.tsx
  apps/web/app/(auth)/reset-password/page.tsx
  apps/web/app/(home)/page.tsx
  apps/web/app/error/page.tsx
  apps/web/app/goodbye/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/not-found.tsx
  apps/web/components/auth/auth-form.test.tsx
  apps/web/components/auth/auth-form.tsx
  apps/web/components/layout/app-sidebar.tsx
  apps/web/components/layout/components.test.tsx
  apps/web/components/layout/header.tsx
  apps/web/components/security/connected-accounts.tsx
  apps/web/components/security/delete-account-form.tsx
  apps/web/components/security/extra-security.tsx
  apps/web/components/ui/index.ts
  apps/web/components/ui/logo.tsx
  apps/web/components/ui/theme-switch.tsx
  apps/web/components/ui/theme-switcher.tsx
  apps/web/components/ui/themes.ts
  apps/web/config/site.ts
  apps/web/next-env.d.ts
  apps/web/tsconfig.json
  packages/ui/src/components/empty.tsx
  packages/ui/src/components/toggle-group.tsx
  packages/ui/src/components/toggle.tsx
  packages/ui/src/lib/utils.ts
  packages/ui/src/styles/globals.css
Due: prettier --write, eslint --fix

refactor: simplify URL schemas
  packages/auth/src/keys.ts
  packages/db/src/env.ts
  packages/email/src/schemas.ts
  packages/rate-limit/src/keys.ts
Due: prettier --write, eslint --fix

feat(web): add API rewrite support and shared API client
  apps/web/.env.example
  apps/web/lib/api-client.ts
  apps/web/next.config.mjs
  turbo.json
Due: prettier --write, eslint --fix

chore(docker): add dev script and drop unused network
  docker-compose.yml
  package.json
Due: prettier --write

fix(docs): update collections alias
  apps/docs/lib/source.ts
  apps/docs/tsconfig.json
Due: prettier --write, eslint --fix

fix(rate-limit): add Node types to tsconfig
  packages/rate-limit/tsconfig.json
Due: prettier --write

ci: set API_INTERNAL_URL for build job
  .github/workflows/ci.yml
  turbo.json
Due: prettier --write

chore(scripts): improve template generation and docs
  package.json
  scripts/initialize.ts
  scripts/readme.ts
  scripts/utils.ts
Due: prettier --write, eslint --fix

refactor(contracts): move zod schemas from utils to contracts package
  apps/docs/content/docs/packages/contracts.mdx
  apps/docs/content/docs/packages/index.mdx
  apps/docs/content/docs/packages/meta.json
  apps/docs/content/docs/packages/utils.mdx
  apps/web/app/(app)/settings/general/page.tsx
  apps/web/app/(auth)/forgot-password/page.tsx
  apps/web/app/(auth)/reset-password/page.tsx
  apps/web/app/api/auth/password/route.ts
  apps/web/components/auth/sign-in-form.tsx
  apps/web/components/auth/sign-up-form.tsx
  apps/web/components/security/delete-account-form.tsx
  apps/web/components/security/password-form.tsx
  apps/web/hooks/auth/use-sign-in.ts
  apps/web/hooks/auth/use-sign-up.ts
  apps/web/package.json
  packages/contracts/README.md
  packages/contracts/eslint.config.js
  packages/contracts/package.json
  packages/contracts/src/auth.ts
  packages/contracts/src/index.ts
  packages/contracts/tsconfig.json
  packages/utils/README.md
  packages/utils/src/index.ts
  packages/utils/src/types/auth.ts
  packages/utils/src/types/index.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, eslint --fix

chore: update workspace package configs
  apps/email/package.json
  apps/studio/package.json
  apps/web/app/(app)/dashboard/page.tsx
  apps/web/components/security/extra-security.tsx
  package.json
  packages/auth/src/client.ts
  packages/db/package.json
  packages/db/prisma/schema.prisma
  packages/email/package.json
  packages/email/src/components/EmailButton.tsx
  packages/email/src/components/EmailContainer.tsx
  packages/email/src/components/EmailDivider.tsx
  packages/email/src/components/EmailHeader.tsx
  packages/email/src/components/EmailHeading.tsx
  packages/email/src/components/EmailLayout.tsx
  packages/email/src/components/EmailLink.tsx
  packages/email/src/components/EmailText.tsx
  packages/email/tsconfig.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

chore(release): bump to 1.2.5 and refresh scaffold config
  apps/docs/lib/changelog-data.ts
  package.json
  scripts/initialize.ts
Due: prettier --write, eslint --fix

migrate(tests): complete Vitest migration in API app and drop Jest
  README.md
  apps/api/package.json
  apps/api/src/__tests__/integration/rate-limit.test.ts
  apps/api/src/__tests__/setup/env.ts
  apps/api/src/__tests__/unit/server.test.ts
  apps/api/src/__tests__/unit/users.routes.test.ts
  apps/api/src/__tests__/utils/auth-mocks.ts
  apps/api/src/__tests__/utils/rate-limit-mocks.ts
  apps/api/vitest.config.ts
  apps/docs/content/docs/configuration/index.mdx
  apps/docs/content/docs/getting-started/structure.mdx
  apps/docs/content/docs/packages/index.mdx
  apps/docs/content/docs/packages/jest-presets.mdx
  apps/docs/content/docs/packages/meta.json
  apps/docs/content/docs/packages/vitest-presets.mdx
  packages/jest-presets/node/jest-preset.js
  packages/jest-presets/package.json
  packages/vitest-presets/node/vitest.config.ts
  packages/vitest-presets/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/readme.ts
Due: prettier --write, eslint --fix

chore(release): bump version to 1.2.6 and document Jest → Vitest migration
  apps/docs/lib/changelog-data.ts
  package.json
Due: prettier --write, eslint --fix

docs(readme): add og-image preview to README
  README.md
  assets/logo.png
  assets/og-image.png
Due: prettier --write

chore(ci): upgrade GitHub Actions workflow and add Turborepo caching
  .github/workflows/ci.yml
  package.json
  pnpm-workspace.yaml
Due: prettier --write

feat(k8s): add Kubernetes deployment manifests and deploy/verify scripts
  README.md
  apps/api/.env.example
  apps/api/src/server.ts
  apps/web/.env.example
  apps/web/Dockerfile.prod
  deploy.sh
  docker-compose.prod.yml
  k8s/api-deployment.yml
  k8s/api-hpa.yml
  k8s/api-ingress.yml
  k8s/api-service.yml
  k8s/configmap.yml
  k8s/namespace.yml
  k8s/verify.sh
  k8s/web-deployment.yml
  k8s/web-hpa.yml
  k8s/web-ingress.yml
  k8s/web-service.yml
  package.json
  packages/auth/.env.example
  packages/db/.env.example
  turbo.json
Due: prettier --write, eslint --fix

feat(k8s): integrate Kubernetes into scaffolder, upgrader, and docs
  apps/docs/content/docs/deployment/index.mdx
  apps/docs/content/docs/deployment/kubernetes.mdx
  apps/docs/content/docs/deployment/meta.json
  package.json
  scripts/initialize.ts
  scripts/readme.ts
  scripts/update.ts
  scripts/upgrade.ts
  scripts/utils.ts
Due: prettier --write, eslint --fix

feat(docs): changelog page, RSS feed, and nav updates
  .markdownlint.yaml
  CHANGELOG.md
  apps/docs/app/(home)/_components/copy-button.tsx
  apps/docs/app/(home)/changelog/_components/changelog-entry.tsx
  apps/docs/app/(home)/changelog/page.tsx
  apps/docs/app/(home)/changelog/rss.xml/route.ts
  apps/docs/app/(home)/layout.tsx
  apps/docs/app/(home)/page.tsx
  apps/docs/app/global.css
  apps/docs/components/icons/npm.tsx
  apps/docs/lib/changelog-data.ts
  apps/docs/lib/layout.shared.tsx
  apps/docs/package.json
  packages/ui/src/components/sidebar.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(logger): add structured logging with pino and adopt across API
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/__tests__/integration/rate-limit.test.ts
  apps/api/src/index.ts
  apps/api/src/middleware/auth.ts
  apps/api/src/middleware/error.ts
  apps/api/src/middleware/rate-limit.ts
  apps/api/src/server.ts
  apps/docs/content/docs/applications/api.mdx
  apps/docs/content/docs/configuration/environment-variables.mdx
  apps/docs/content/docs/packages/index.mdx
  apps/docs/content/docs/packages/logger.mdx
  apps/docs/content/docs/packages/meta.json
  packages/logger/eslint.config.js
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/logger/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write, eslint --fix

refactor(web): adopt RSC server-fetch pattern for authed pages
  apps/web/app/(app)/dashboard/layout.tsx
  apps/web/app/(app)/dashboard/page.tsx
  apps/web/app/(app)/profile/layout.tsx
  apps/web/app/(app)/profile/page.tsx
  apps/web/app/(app)/settings/activity/error.tsx
  apps/web/app/(app)/settings/activity/layout.tsx
  apps/web/app/(app)/settings/activity/loading.tsx
  apps/web/app/(app)/settings/activity/page.tsx
  apps/web/app/(app)/settings/general/layout.tsx
  apps/web/app/(app)/settings/general/loading.tsx
  apps/web/app/(app)/settings/general/page.tsx
  apps/web/app/(app)/settings/security/layout.tsx
  apps/web/app/(app)/settings/security/page.tsx
  apps/web/app/(home)/layout.tsx
  apps/web/app/api/sessions/route.ts
  apps/web/app/goodbye/layout.tsx
  apps/web/app/goodbye/page.tsx
  apps/web/components/profile/profile-view.tsx
  apps/web/components/security/password-form.tsx
  apps/web/components/security/security-view.tsx
  apps/web/components/settings/activity-view.tsx
  apps/web/components/settings/general-settings-form.tsx
  apps/web/lib/auth-helpers.ts
Due: prettier --write, eslint --fix

chore(release): bump version to 1.4.0
  package.json
  scripts/utils.ts
Due: prettier --write, eslint --fix

feat(docs): add changelog and v1.4.0 release entry
  CHANGELOG.md
  apps/docs/app/(home)/changelog/_components/changelog-entry.tsx
  apps/docs/lib/changelog-data.ts
Due: prettier --write, eslint --fix

feat(cli): add --force flag to upgrade past conflicts
  CHANGELOG.md
  apps/docs/content/docs/cli.mdx
  apps/docs/lib/changelog-data.ts
  package.json
  scripts/index.ts
  scripts/upgrade.ts
Due: prettier --write, eslint --fix

docs: restructure README and add contributing/security guides
  CONTRIBUTING.md
  README.md
  SECURITY.md
  apps/docs/content/docs/deployment/kubernetes.mdx
Due: prettier --write

feat(docs): redesign landing page with animated hero and bento sections
  apps/docs/app/(home)/_components/animated-terminal.tsx
  apps/docs/app/(home)/_components/grid-glow.tsx
  apps/docs/app/(home)/_components/reveal.tsx
  apps/docs/app/(home)/_components/tech-logos.tsx
  apps/docs/app/(home)/page.tsx
Due: prettier --write, eslint --fix

fix(cli): stop upgrade from re-adding opted-out features and internal files
  CHANGELOG.md
  apps/docs/lib/changelog-data.ts
  package.json
  scripts/initialize.ts
  scripts/manifest.ts
  scripts/upgrade.ts
  scripts/utils.ts
Due: prettier --write, eslint --fix

feat(cli): interactive K8s scaffolding prompts & env template fixes
  CHANGELOG.md
  apps/docs/lib/changelog-data.ts
  package.json
  scripts/initialize.ts
  scripts/update.ts
  scripts/utils.ts
Due: prettier --write, eslint --fix
