Repository vijaysingh2219/build-elevate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: update skeleton layout and styling
  apps/web/app/(auth)/two-factor/page.tsx
  apps/web/app/(default)/(settings)/settings/activity/page.tsx
  apps/web/app/(default)/(settings)/settings/general/page.tsx
  apps/web/app/(default)/(settings)/settings/security/page.tsx
  apps/web/app/(default)/profile/loading.tsx
Due: prettier --write, eslint --fix

feat: add social login connect/disconnect cards
  apps/web/app/(default)/(settings)/settings/security/page.tsx
  apps/web/components/connected-accounts.tsx
  apps/web/config/site.ts
  apps/web/lib/provider-icons.ts
  apps/web/package.json
  packages/auth/src/client.ts
  packages/auth/src/server.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: revoke all other sessions on password change
  apps/web/components/password-form.tsx
  packages/ui/package.json
  packages/ui/src/components/checkbox.tsx
  packages/utils/src/schemas/auth.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

feat: add revoke all sessions functionality
  apps/web/app/(default)/(settings)/settings/security/page.tsx
  apps/web/components/extra-security.tsx
Due: prettier --write, eslint --fix

chore: extract and move skeletons into component file
  apps/web/app/(default)/(settings)/settings/security/page.tsx
  apps/web/components/delete-account-form.tsx
  apps/web/components/password-form.tsx
  apps/web/components/two-factor-setup.tsx
Due: prettier --write, eslint --fix

refactor: move parseUserAgent to a separate file
  apps/web/app/(default)/(settings)/settings/activity/page.tsx
  apps/web/lib/user-agent.ts
Due: prettier --write, eslint --fix

refactor: revoke session via authClient instead of API route
  apps/web/app/(default)/(settings)/settings/activity/page.tsx
  apps/web/app/api/sessions/[token]/route.ts
  apps/web/app/api/sessions/route.ts
  packages/auth/src/client.ts
Due: prettier --write, eslint --fix

refactor: deduplicate session check logic in routes
  apps/web/app/api/auth/password/route.ts
  apps/web/app/api/auth/profile/route.ts
  apps/web/app/api/sessions/route.ts
  apps/web/lib/auth-helpers.ts
Due: prettier --write, eslint --fix

feat: add id to cards to enable anchor scrolling
  apps/web/app/(default)/(settings)/settings/general/page.tsx
  apps/web/app/(default)/profile/page.tsx
  apps/web/components/connected-accounts.tsx
  apps/web/components/delete-account-form.tsx
  apps/web/components/extra-security.tsx
  apps/web/components/password-form.tsx
  apps/web/components/two-factor-setup.tsx
Due: prettier --write, eslint --fix

chore: organize components by feature
  apps/web/app/(auth)/sign-in/page.tsx
  apps/web/app/(auth)/sign-up/page.tsx
  apps/web/app/(auth)/two-factor/page.tsx
  apps/web/app/(default)/(settings)/settings/security/page.tsx
  apps/web/app/error/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/not-found.tsx
  apps/web/app/page.tsx
  apps/web/components/auth/auth-form.tsx
  apps/web/components/auth/credentials-form.tsx
  apps/web/components/auth/index.ts
  apps/web/components/auth/providers.tsx
  apps/web/components/auth/two-factor-setup.tsx
  apps/web/components/auth/two-factor-verification.tsx
  apps/web/components/layout/app-sidebar.tsx
  apps/web/components/layout/header.tsx
  apps/web/components/layout/index.ts
  apps/web/components/layout/nav-user.tsx
  apps/web/components/security/connected-accounts.tsx
  apps/web/components/security/delete-account-form.tsx
  apps/web/components/security/extra-security.tsx
  apps/web/components/security/index.ts
  apps/web/components/security/password-form.tsx
  apps/web/components/ui/index.ts
  apps/web/components/ui/logo.tsx
  apps/web/components/ui/theme-switcher.tsx
Due: prettier --write, eslint --fix

feat: refresh email templates with new design
  packages/email/src/branding.ts
  packages/email/src/components/EmailButton.tsx
  packages/email/src/components/EmailContainer.tsx
  packages/email/src/components/EmailDivider.tsx
  packages/email/src/components/EmailHeader.tsx
  packages/email/src/components/EmailHeading.tsx
  packages/email/src/components/EmailLayout.tsx
  packages/email/src/components/EmailLink.tsx
  packages/email/src/components/EmailText.tsx
  packages/email/src/components/index.ts
  packages/email/src/fonts.tsx
  packages/email/src/templates/change-email.tsx
  packages/email/src/templates/email-verification.tsx
  packages/email/src/templates/reset-password.tsx
Due: prettier --write, eslint --fix

feat: add generatePageMetadata and page-specific metadata
  apps/web/app/(auth)/forgot-password/layout.tsx
  apps/web/app/(auth)/reset-password/layout.tsx
  apps/web/app/(auth)/sign-in/page.tsx
  apps/web/app/(auth)/sign-up/page.tsx
  apps/web/app/(auth)/two-factor/page.tsx
  apps/web/app/(default)/(settings)/settings/activity/layout.tsx
  apps/web/app/(default)/(settings)/settings/general/layout.tsx
  apps/web/app/(default)/(settings)/settings/security/layout.tsx
  apps/web/app/(default)/dashboard/layout.tsx
  apps/web/app/(default)/profile/layout.tsx
  apps/web/app/(home)/layout.tsx
  apps/web/app/(home)/page.tsx
  apps/web/app/error/layout.tsx
  apps/web/app/goodbye/layout.tsx
  apps/web/app/layout.tsx
  apps/web/app/not-found.tsx
  apps/web/config/metadata.ts
  apps/web/public/og-image.png
Due: prettier --write, eslint --fix

docs: update README screenshots in assets folder
  README.md
  assets/home-dark.png
  assets/home.png
  assets/profile-dark.png
  assets/profile.png
  assets/settings-activity-dark.png
  assets/settings-activity.png
  assets/settings-general-dark.png
  assets/settings-general.png
  assets/settings-security-dark.png
  assets/settings-security.png
  assets/sign-in-dark.png
  assets/sign-in.png
  assets/sign-up-dark.png
  assets/sign-up.png
Due: prettier --write

feat: add environment validation with @t3-oss/env
  .github/workflows/ci.yml
  README.md
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/config/allowedOrigins.ts
  apps/api/src/env.ts
  apps/api/src/index.ts
  apps/api/src/loadEnv.ts
  apps/api/src/server.ts
  apps/web/.env.example
  apps/web/app/layout.tsx
  apps/web/config/metadata.ts
  apps/web/config/site.ts
  apps/web/env.ts
  apps/web/next.config.ts
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write, eslint --fix

fix: resolve ESM module resolution by exporting dist files
  apps/api/tsconfig.json
  docker-compose.prod.yml
  packages/auth/package.json
  packages/db/package.json
  packages/email/package.json
  packages/rate-limit/package.json
Due: prettier --write

fix: run build task in test job
  .github/workflows/ci.yml
Due: none

docs: add README.md in packages
  packages/auth/README.md
  packages/db/README.md
  packages/rate-limit/README.md
  packages/utils/README.md
Due: prettier --write

refactor: simplify TypeScript configs across packages
  apps/api/tsconfig.json
  packages/auth/tsconfig.json
  packages/db/tsconfig.json
  packages/email/tsconfig.json
  packages/rate-limit/tsconfig.json
  packages/utils/tsconfig.json
Due: prettier --write

feat: add environment validation with @t3-oss/env
  apps/web/next-env.d.ts
  packages/auth/package.json
  packages/auth/src/client.ts
  packages/auth/src/keys.ts
  packages/email/package.json
  packages/email/src/config.ts
  packages/email/src/keys.ts
  packages/email/src/send-email.ts
  packages/rate-limit/package.json
  packages/rate-limit/src/keys.ts
  packages/rate-limit/src/limiter.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

refactor: remove .env.example files from packages
  packages/db/.env.example
  packages/email/.env.example
  packages/rate-limit/.env.example
Due: none

fix: prevent client-side access to server env vars
  apps/web/app/(default)/(settings)/settings/activity/page.tsx
  apps/web/components/auth/auth-form.tsx
  apps/web/components/auth/credentials-form.tsx
  apps/web/components/auth/two-factor-setup.tsx
  apps/web/components/auth/two-factor-verification.tsx
  apps/web/components/security/connected-accounts.tsx
  packages/auth/package.json
  packages/auth/src/client.ts
  packages/auth/src/server.ts
Due: prettier --write, eslint --fix

chore: bump prisma from 6.16.1 to 7.2.0
  packages/db/.env.example
  packages/db/package.json
  packages/db/prisma.config.ts
  packages/db/prisma/schema.prisma
  packages/db/src/client.ts
  packages/db/src/env.ts
  packages/db/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

feat: load environment files based on NODE_ENV
  apps/api/src/index.ts
Due: prettier --write, eslint --fix

chore: remove db package env file from docker-compose
  docker-compose.prod.yml
Due: none

docs: update README.md to reflect with the changes
  README.md
  SCREENSHOTS.md
  packages/ui/README.md
Due: prettier --write

fix: update studio app script following Prisma version bump
  apps/studio/package.json
Due: prettier --write

chore: bump version to 1.0.0 across all packages
  apps/api/package.json
  apps/email/package.json
  apps/web/package.json
  packages/auth/package.json
  packages/db/package.json
  packages/email/package.json
  packages/eslint-config/package.json
  packages/jest-presets/package.json
  packages/prettier-config/package.json
  packages/rate-limit/package.json
  packages/typescript-config/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: prettier --write

chore: make env placeholder values more descriptive
  apps/api/.env.example
  apps/web/.env.example
  packages/email/.env.example
  packages/rate-limit/.env.example
Due: none

feat: add scaffolding scripts
  .npmignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/index.ts
  scripts/initialize.ts
  scripts/utils.ts
  tsconfig.scripts.json
  tsup.config.ts
Due: prettier --write, eslint --fix

chore: bump version to 1.0.3
  package.json
Due: prettier --write

docs: update getting started guide
  README.md
Due: prettier --write

ci: ignore .md changes in GitHub workflows
  .github/workflows/ci.yml
Due: none

feat: optimize production Docker setup
  apps/api/Dockerfile.prod
  apps/web/Dockerfile.prod
  docker-compose.prod.yml
Due: none

ci: optimize workflow triggers with explicit paths filter
  .github/workflows/ci.yml
Due: none

chore: move better-auth from web to core
  packages/auth/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: update apps/api/.env.example
  apps/api/.env.example
Due: none

chore: move deps in catalogs from web to core
  apps/email/package.json
  apps/web/package.json
  packages/email/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

feat: update scripts
  scripts/initialize.ts
  scripts/readme.ts
Due: prettier --write, eslint --fix

docs: update README.md
  .github/workflows/README.md
  README.md
  apps/api/README.md
Due: prettier --write

chore: bump version 1.0.3 → 1.0.4
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,json}
  eslint --fix: any of: *.{ts,tsx}
